.ruinList {
    cursor: pointer;
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.ruinList::-webkit-scrollbar {
    display: none;
}